In [1]:
import pandas as pd
import constants as c
from utils import data_prep_web

In [2]:
df_race = pd.read_parquet(c.race_2024_path)
df_web = pd.read_parquet(c.web_2024_path)
df_wiki = pd.read_parquet(c.wiki_2024_path)

In [3]:
df_web = data_prep_web(df_web, skipper_corrections=[('Kojiro Shiraishi', 'Kōjirō Shiraishi')])

In [4]:
df = pd.merge(df_race, df_web, on="skipper", how="left")
df = pd.merge(df, df_wiki, on="skipper", how="left")

In [5]:
df.head()

,rang,nat_voile,skipper_voilier,heure,latitude,longitude,cap_30min,vitesse_30min,VMG_30min,distance_30min,...,genre_y,nationalité_y,age_y,participations_y,bateau_y,appendices_y,architecte_y,chantier_y,annee_y,foil_y
0,1,FRA2030,Paul Meilhat\nBiotherm,14:02 FR\n,46.432333,-1.836167,297.0,0.9,0.5,0.0,...,1,France,42.0,2.0,Biotherm,foils,Verdier,Persico Marine,2022,1
1,2,FRA100,Sam Goodchild\nVulnerable,14:02 FR\n,46.433667,-1.835667,270.0,0.8,0.7,0.0,...,1,Royaume-Uni,34.0,1.0,Vulnerable (Advens 1),foils,Verdier,Persico Marine,2019,1
2,3,FRA172,Louis Duc\nFives Group - Lantana Environnement,14:02 FR\n,46.433500,-1.833500,291.0,0.6,0.4,0.0,...,1,France,41.0,1.0,Fives Group-Lantana Environnement,dérives droites,Farr,CDK Port-la-Forêt,2006,0
3,4,FRA56,Fabrice Amedeo\nNexans - Wewise,14:02 FR\n,46.434167,-1.833667,277.0,0.6,0.5,0.0,...,1,France,46.0,3.0,Nexans-Wewise,dérives droites,Owen Clarke,Hakes Marine (Nouvelle-Zélande),2007,0
4,5,FRA53,Maxime Sorel\nV And B - Monbana - Mayenne,14:02 FR\n,46.434667,-1.833833,240.0,1.3,1.3,0.0,...,1,France,38.0,2.0,V and B-Monbana-Mayenne,foils,Verdier,Multiplast,2022,1

In [6]:
df.shape

(18509, 76)

In [7]:
df.columns

Index(['rang', 'nat_voile', 'skipper_voilier', 'heure', 'latitude',
       'longitude', 'cap_30min', 'vitesse_30min', 'VMG_30min',
       'distance_30min', 'cap_last', 'vitesse_last', 'VMG_last',
       'distance_last', 'cap_24h', 'vitesse_24h', 'VMG_24h', 'distance_24h',
       'DTF', 'DTL', 'date', 'skipper', 'voilier', 'color', 'first_name_x',
       'last_name_x', 'team_x', 'Anciens noms du bateau_x', 'Architecte_x',
       'Chantier_x', 'Date de lancement_x', 'Longueur_x', 'Largeur_x',
       'Tirant d'eau_x', 'Hauteur mât_x', 'Surface de voiles au près_x',
       'Surface de voiles au portant_x', 'Poids_x', 'Ancien nom du bateau_x',
       'Déplacement (poids)_x', 'genre_x', 'nationalité_x', 'age_x',
       'participations_x', 'bateau_x', 'appendices_x', 'architecte_x',
       'chantier_x', 'annee_x', 'foil_x', 'first_name_y', 'last_name_y',
       'team_y', 'Anciens noms du bateau_y', 'Architecte_y', 'Chantier_y',
       'Date de lancement_y', 'Longueur_y', 'Largeur_y', 'Tirant d'eau_y',
       'Hauteur mât_y', 'Surface de voiles au près_y',
       'Surface de voiles au portant_y', 'Poids_y', 'Ancien nom du bateau_y',
       'Déplacement (poids)_y', 'genre_y', 'nationalité_y', 'age_y',
       'participations_y', 'bateau_y', 'appendices_y', 'architecte_y',
       'chantier_y', 'annee_y', 'foil_y'],
      dtype='object')

In [8]:
df.rename(columns={"foil_y": "foil"}, inplace=True)

In [9]:
df.columns

Index(['rang', 'nat_voile', 'skipper_voilier', 'heure', 'latitude',
       'longitude', 'cap_30min', 'vitesse_30min', 'VMG_30min',
       'distance_30min', 'cap_last', 'vitesse_last', 'VMG_last',
       'distance_last', 'cap_24h', 'vitesse_24h', 'VMG_24h', 'distance_24h',
       'DTF', 'DTL', 'date', 'skipper', 'voilier', 'color', 'first_name_x',
       'last_name_x', 'team_x', 'Anciens noms du bateau_x', 'Architecte_x',
       'Chantier_x', 'Date de lancement_x', 'Longueur_x', 'Largeur_x',
       'Tirant d'eau_x', 'Hauteur mât_x', 'Surface de voiles au près_x',
       'Surface de voiles au portant_x', 'Poids_x', 'Ancien nom du bateau_x',
       'Déplacement (poids)_x', 'genre_x', 'nationalité_x', 'age_x',
       'participations_x', 'bateau_x', 'appendices_x', 'architecte_x',
       'chantier_x', 'annee_x', 'foil_x', 'first_name_y', 'last_name_y',
       'team_y', 'Anciens noms du bateau_y', 'Architecte_y', 'Chantier_y',
       'Date de lancement_y', 'Longueur_y', 'Largeur_y', 'Tirant d'eau_y',
       'Hauteur mât_y', 'Surface de voiles au près_y',
       'Surface de voiles au portant_y', 'Poids_y', 'Ancien nom du bateau_y',
       'Déplacement (poids)_y', 'genre_y', 'nationalité_y', 'age_y',
       'participations_y', 'bateau_y', 'appendices_y', 'architecte_y',
       'chantier_y', 'annee_y', 'foil'],
      dtype='object')

In [26]:
# Séparer les colonnes dynamiques et statiques
dynamic_cols = [
    "rang", "heure", "latitude", "longitude", "cap_30min", "vitesse_30min", "VMG_30min", "distance_30min",
    "cap_last", "vitesse_last", "VMG_last", "distance_last", "cap_24h", "vitesse_24h", "VMG_24h", "distance_24h",
    "DTF", "DTL", "date"
]

static_cols = [col for col in df.columns if col not in dynamic_cols]

df_race = df[dynamic_cols].copy()
df_infos = df[static_cols].copy()

# Dictionnaire de renommage des colonnes en anglais
rename_dict = {
    "rang": "rank", "heure": "time", "latitude": "latitude", "longitude": "longitude",
    "cap_30min": "heading_30min", "vitesse_30min": "speed_30min", "VMG_30min": "vmg_30min", "distance_30min": "distance_30min",
    "cap_last": "heading_last", "vitesse_last": "speed_last", "VMG_last": "vmg_last", "distance_last": "distance_last",
    "cap_24h": "heading_24h", "vitesse_24h": "speed_24h", "VMG_24h": "vmg_24h", "distance_24h": "distance_24h",
    "DTF": "distance_to_finish", "DTL": "distance_to_leader", "date": "date",
    "skipper": "skipper", "voilier": "boat_name", "nat_voile": "boat_nationality", "color": "boat_color",
    "first_name_x": "skipper_first_name", "last_name_x": "skipper_last_name", "team_x": "team",
    "Anciens noms du bateau_x": "previous_boat_names", "Architecte_x": "boat_architect", "Chantier_x": "boat_shipyard",
    "Date de lancement_x": "launch_date", "Longueur_x": "boat_length", "Largeur_x": "boat_width", "Tirant d'eau_x": "boat_draft",
    "Hauteur mât_x": "mast_height", "Surface de voiles au près_x": "sail_area_upwind", "Surface de voiles au portant_x": "sail_area_downwind",
    "Poids_x": "boat_weight", "Ancien nom du bateau_x": "previous_boat_name", "Déplacement (poids)_x": "displacement_weight",
    "genre_x": "skipper_gender", "nationalité_x": "skipper_nationality", "age_x": "skipper_age", "participations_x": "race_participations",
    "appendices_x": "boat_appendices", "architecte_x": "boat_architect", "chantier_x": "boat_shipyard", "annee_x": "boat_year", "foil": "has_foil"
}

# Appliquer le renommage
df_race.rename(columns=rename_dict, inplace=True)
df_infos.rename(columns=rename_dict, inplace=True)

# Fusionner les colonnes en double (versions _x et _y)
cols_x = [col for col in df_infos.columns if col.endswith('_x')]
for col in cols_x:
    col_y = col.replace('_x', '_y')
    if col_y in df_infos.columns:
        df_infos[col] = df_infos[col].combine_first(df_infos[col_y])
        df_infos.drop(columns=[col_y], inplace=True)
    df_infos.rename(columns={col: col.replace('_x', '')}, inplace=True)

df_infos.columns = [col.replace("_y", "") for col in df_infos.columns]
df_infos.drop_duplicates(inplace=True)

df_race = df_race.sort_values(by="date")  # Trier par date pour garantir l'ordre correct
df_race["batch"] = df_race["date"].ne(df_race["date"].shift()).cumsum() - 1

In [29]:
df_race.head()

,rank,time,latitude,longitude,heading_30min,speed_30min,vmg_30min,distance_30min,heading_last,speed_last,vmg_last,distance_last,heading_24h,speed_24h,vmg_24h,distance_24h,distance_to_finish,distance_to_leader,date,batch
0,1,14:02 FR\n,46.432333,-1.836167,297.0,0.9,0.5,0.0,297.0,0.9,0.5,0.0,205.0,0.2,0.2,4.6,24272.3,0.0,2024-11-10 13:04:00,0
22,23,14:02 FR\n,46.448000,-1.836500,263.0,0.9,0.9,0.0,263.0,0.9,0.9,0.0,211.0,0.2,0.1,3.8,24272.8,0.5,2024-11-10 13:04:00,0
23,24,14:02 FR\n,46.453000,-1.839833,314.0,1.3,0.4,0.0,314.0,1.3,0.4,0.0,215.0,0.2,0.1,3.6,24272.8,0.5,2024-11-10 13:04:00,0
24,25,14:02 FR\n,46.448500,-1.836000,307.0,0.6,0.2,0.0,307.0,0.6,0.2,0.0,211.0,0.2,0.1,3.8,24272.8,0.5,2024-11-10 13:04:00,0
25,26,14:02 FR\n,46.448500,-1.834833,290.0,1.4,0.9,0.0,290.0,1.4,0.9,0.0,210.0,0.2,0.1,3.8,24272.8,0.5,2024-11-10 13:04:00,0